*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,rgb(79,85,93),rgb(39,51,63));
}

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 100%;
}

h1{
    margin-top: 130px;
    color: white;
    font-size: 80px;
}

input{
    margin-top: 3rem;
    position: relative;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: black;
    background-color: rgba(0,0,0,664);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 350px;
    padding-left: 12px;
}

button{
    position: absolute;
    margin-top: 3rem;
    font-size: 15px;
    border-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
}